@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope-VariableFont_wght.eot');
	src: local('☺'), url('../fonts/Manrope-VariableFont_wght.woff') format('woff'), url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype'), url('../fonts/Manrope-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top; /* чтобы небыло фонтомных отступов снизу */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: x-large;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
	color: #333333;
	background: #FFFFFF;
	font-family: Manrope;
}
.wrapper-page {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	margin: 0px auto; /* выставил по центру */
}
/* +++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++++++++ */
.header {
	position: fixed;
	top: 0;
	font-weight: 800;
	background-color: #257187;
	width: 100%;
	z-index: 10;
}
.header-block {
	display: flex;
	padding: 0px 10px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
	position: relative;
	background-color: #FFC58A;
	border-radius: 15%;
	z-index: 5;
	width: 40px;
	height: 40px;
}
.header__menu {
}
.menu__icon {
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}
.menu__link {
	color: #FFC58A;
	font-size: 20px;
}
/* отзывчивость ссылок */
.menu__link:hover {
	text-decoration: underline;
}
.menu__arrow {
	display: none;
}
.menu-sub__list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #0C4758;
	padding: 15px;
	min-width: 279px;
}
.menu-sub__list > li {
	margin: 0px 0px 10px 0px;
}
.menu-sub__list li:last-child {
	margin: 0;
}
.menu-sub__link {
	color: #FFC58A;
}
.menu-sub__link:hover {
	text-decoration: underline;
}
/* ---------------------------------------------- */
/* обращаюсь к боди, когда он ПК а именно к меню лист, в том состоянии когда он ховер
(наведена мышь) --> тогда меню саб лист станет выдимым */
body._pc .menu__list > li:hover .menu-sub__list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transition 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #FFC58A;
}
body._touch .menu__list > li._active .menu-sub__list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}

/* ---------------------------------------------- */
/* эти условия выполнятся только для устройств экраны которых
больше 767пкс */
@media (min-width: 767px){
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0; /* необходимое расстояние, что бы не пропадало при наведении */
	}
	.menu-sub__list {
		transform: translate(0px, 15%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none; /* запрет на любое взаимодейств */
		transition: all 0.3s ease 0s;
	}
}
/* +++++++++++++++++++++++  MAIN  ++++++++++++++++++++++++++++ */
.page {
	flex: 1 1 auto;
	margin-top: 75px;
}
/* --------------------------CATEGORY------------------------- */
.category-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
	padding-bottom: 10px;
}
/* ----------------------------------- */
.category-elevation {
	min-width: 186px;
	border-radius: 15px;
	justify-content: flex-start;
	background-color: #AFDBE7;
	padding: 5px;
	margin: 5px;
}
.elevation {}
.elevation__list {}
.elevation__item {
	padding: 5px;
}
.elevation__link {}
/* ------------------------------------- */
.category-niches {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
}
.niche-card {
	min-width: 186px;
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
.niche-card__img {
	margin-bottom: 5px;
}
.niche-card__img img {
	max-height: 160px;
	width: 100%;
}
.niche-card__title {
	margin-bottom: 5px;
	text-align: center;
}
/* -------------------------BRAND------------------------------------*/
.brand-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
.brand-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
.brand-card__img {
}
.brand-card__img img {
	border-radius: 15px;
}
.brand-card__link {
}
/* ----------------------------advise-------------------------------- */
.advise-block {
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
.advise-title {
	text-align: center;
	size: 40px;
}
.advise-info {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}
.partner-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
.partner-card__img {
}
.partner-card__img img {
	width: 264px;
	height: 213px;
}
.partner-card__link {
}
.partner-card__title {
	text-align: center;
}
/*-------------------------GEO----------------------------------------*/
.geo-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
/* ------------------------------------ */
.geo-postman {
	margin: 5px;
}
.postman-title {
	text-align: center;
	size: 40px;
}
.postman-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.postman-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin-top: 30px;
}
.postman-card__img img {
	border-radius: 15px;
}
/* -------------------------------- */
.geo-location {
	display: flex;
	margin: 5px;
}
.location {
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
}
.location iframe {
	border-radius: 15px;
}
/* +++++++++++++++++++++++++++++++FOOTER++++++++++++++++++++++ */
.footer {
	background-color: #257187;
}
/* ---------------------------------------- */
.footer-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	padding-bottom: 10px;
}
/* ---------------------------------------------- */
.general {
	width: 186px;
	border-radius: 15px;
	justify-content: flex-start;
	background-color: #AFDBE7;
	padding: 5px;
	margin: 5px;
}
.info {
}
.info__list {
}
.info__item {
	padding: 5px;
}
.info__link {
}
/* ----------------------------------------------- */
.category-elevation {
}
.elevation {
}
.elevation__list {
}
.elevation__item {
}
.elevation__link {
}
/* -------------------------------------------------- */
.social {
}
.social__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.social__item {
	min-width: 40px;
	height: 40px;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: 5px;
}
.social__link {
}
.social__link img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 15px;
}

@media (max-width: 1023.98px){
	.container {
		max-width: 768px;
	}
	.page {
		margin-top: 120px;
	}
	.niche-card {
		min-width: 166px;
   }
}
/* @media (max-width: 767.98px){
	.container {
		max-width: 576px;
	}
	.header-block {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.header__address {
		display: none;
   }
	.header__connection {
		display: none;
   }
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.page {
		margin-top: 50px;
	}
} */
@media (max-width: 575.98px){
	.container {
		max-width: none;
	}
	.header-block {
		justify-content: center;
		align-items: center;
	}
	.header__logo {
		display: none;
	}
	.page {
		margin-top: 40px;
	}
	.category-block {
		flex-direction: column-reverse;
   }
	.category-niches {
		justify-content: center;
   }
	.niche-card {
		min-width: 123px;
   }
	.niche-card__img img {
		max-height: 113px;
		max-width: 113;
	}
}