@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope-VariableFont_wght.eot');
	src: local('☺'), url('../fonts/Manrope-VariableFont_wght.woff') format('woff'), url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype'), url('../fonts/Manrope-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top; /* чтобы небыло фонтомных отступов снизу */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}
h1 {
	font-size: 36px;
}
h2 {
	font-weight: bold;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
	color: #008a9a;
	background: #FFFFFF;
	font-family: Manrope;
}
.wrapper-page {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	margin: 0px auto; /* выставил по центру */
}
/* ******************** HEADER ************************** */
.header {
	position: fixed;
	top: 0;
	font-weight: 800;
	background: linear-gradient(90deg, rgba(0,138,154,1) 33%, rgba(0,112,124,1) 66%, rgba(0,69,76,1) 100%);
	width: 100%;
	z-index: 100;
}
.header-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
}
.header-logo {
	position: relative;
	background-color: #FFB97B;
	border-radius: 50%;
	z-index: 5;
	width: 32px;
	height: 32px;
}
.header-menu {
	display: flex;
	align-items: center;
}
/* -----------------BURGER----------------- */
.burger {
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: relative;
	border-radius: 15%;
	background-color: rgba(0,69,76,1);
	z-index: 5;
}
.burger__line {
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 15%;
	background-color: #FFB97B;
	position: absolute;
	left: 0;
	transition: 0.3s all linear;
}
.burger__line--first {
	top: 0;
}
.burger__line--second, .burger__line--third {
	top: 50%;
	transform: translateY(-50%);
}
.burger__line--fourth {
	bottom: 0;
}
/* ----------------при активации----------------- */
.is-active .burger__line--first, .is-active .burger__line--fourth {
	opacity: 0;
}
.is-active .burger__line--second {
	transform: translateY(-50%) rotate(45deg);
}
.is-active .burger__line--third {
	transform: translateY(-50%) rotate(-45deg);
}
/* ------------------menu------------------ */
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}
.menu__link {
	color: #FFFFFF;
	font-size: 21px;
	line-height: 32px;
	font-weight: bold;
	transition: color 0.2s ease-in;
}
.menu__link:hover {
	color: #FFB97B;
}
/* ********************************mobmenu****************************** */
.mobmenu {
	display: none;
}
/* ************************************************************** */
/* **********************  MAIN  ******************************** */
.page-main {
	flex: 1 1 auto;
	margin-top: 64px;
}
.page-aboutus {
	flex: 1 1 auto;
	margin-top: 64px;
}
.page-catalog {
	flex: 1 1 auto;
	margin-top: 64px;
}
.page-contacts {
	flex: 1 1 auto;
	margin-top: 64px;
}
.page-stock {
	flex: 1 1 auto;
	margin-top: 64px;
}
.page-privacy {
	flex: 1 1 auto;
	margin-top: 64px;
}
/* ================= 1 privacy-block ================== */
.privacy-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.privacy {
	display: flex;
	flex-direction: column;
	width: 85%;
}
/* ================= 1 category-block =================== */
.category-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 64px;
	transition: box-shadow 0.2s ease-in;
}
.category-block:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
/* +++++++++++++++ 2 category-elevation ++++++++++++++++ */
.category-elevation {
	display: flex;
	padding-left: 8px;
}
.elevation {
	display: flex;
	flex-direction: column;
}
.elevation li {
/* 	position: relative; */
}
.elevation__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.elevation__link {
	display: flex;
	width: 100%;
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
	color: #008a9a;
	transition: color 0.2s ease-in;
}
.elevation__link:hover {
	color: #FFB97B;
}
/* +++++++++++++++++++ 2 category-main ++++++++++++++++++++++++ */
.category-main{
	display: flex;
	flex-direction: column;
	width: 85%;
}
/* -------------------------- 3 slideshow ----------------------- */
.slideshow {
	display: flex;
	width: 100%;
	padding: 0px 4px;
}
/* ___________________________ 4 slider _________________________ */
.slider {
	position: relative;
	min-width: 0;
	width: 100%;
}
.slider .slick-arrow{
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	background: none;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-radius: 50%;
}
.slider .slick-arrow.slick-prev {
	left: 0;
	border-right: 20px solid #FFFFFF;
}
.slider .slick-arrow.slick-next {
	right: 0;
	border-left: 20px solid #FFFFFF;
}
.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}
.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0px 15px;
}
.slider .slick-dots button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #008a9a;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
	background-color: #FFB97B;
	border: #008a9a;
}
.slider__item {}
.slider__item img {
	width: 100%;
}
/* ------------------- 3 category-niches ------------------ */
.category-niches {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 4px 0px;
}
.niche-card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 32%;
	background-color: #D9F8FB;
	padding: 4px;
	margin: 4px;

}
.niche-card__img {
	text-align: center;
	margin: 4px;
}
.card-link {}

.niche-card__img img {
	max-height: 90px;
}
.niche-card__title {
	margin: 4px;
	text-align: center;
	font-size: 16px;
   line-height: 24px;
	color: #008a9a;
	transition: color 0.2s ease-in;
}
.niche-card__title:hover {
	color: #FFB97B;
}
/* =================== 1 brand-block ===================== */
.brand-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 64px;
	transition: box-shadow 0.2s ease-in;
}
.brand-block:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.brand-card {
	display: flex;
	margin: 0px 4px;
}
.brand-card__img {
}
.brand-card__img img {
}
.brand-card__link {
}
/* ===================== 1 advise-block ========================= */
.advise-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 64px;
	transition: box-shadow 0.4s ease-in;
}
.advise-block:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.advise-title {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #008a9a;
	margin-bottom: 32px;
}
.advise-info {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
}
.partner-card {
	background-color: #D9F8FB;
	width: 23%;
	padding: 4px;
	margin: 4px;
}
.partner-card__img {
	margin: 4px;
}
.partner-card__img img {
	width: 100%;
}
.partner-card__link {
}
.partner-card__title {
	margin: 4px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #008a9a;
	transition: color 0.2s ease-in;
}
.partner-card__title:hover {
	color: #FFB97B;
}
/* ++++++++++++++++++ДЛЯ ВСЕХ СЛАЙДЕРОВ+++++++++++++++++++++ */
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/* ================== 1 whoweare ========================= */
.whoweare {
	margin: 0px 5px 0px 5px;
	display: flex;
	flex-direction: column;
	min-width: 0;
	margin-bottom: 64px;
	transition: box-shadow 0.4s ease-in;
}
.whoweare:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.whowe-title {
	text-align: center;
	margin-bottom: 32px;
}
.whowe-text {
	line-height: 2em;
	margin-top: 10px;
	width: 100%;
}
/* ___________________________ 4 carousel _________________________ */
.carousel {
	position: relative;
	min-width: 0;
	width: 100%;
}
.carousel .slick-arrow{
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	background: none;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-radius: 50%;
}
.carousel .slick-arrow.slick-prev {
	left: 0;
	border-right: 20px solid #FFFFFF;
}
.carousel .slick-arrow.slick-next {
	right: 0;
	border-left: 20px solid #FFFFFF;
}
.carousel .slick-arrow.slick-disabled {
	opacity: 0.2;
}
.carousel .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.carousel .slick-dots li {
	list-style: none;
	margin: 0px 15px;
}
.carousel .slick-dots button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #008a9a;
	border-radius: 50%;
}
.carousel .slick-dots li.slick-active button {
	background-color: #FFB97B;
	border: #008a9a;
}
.carousel__item {}
.carousel__item img {
	width: 100%;
}
/* ================== 1 goods ========================= */
.goods {
	margin: 0px 4px;
	display: flex;
	flex-direction: column;
	min-width: 0;
	margin-bottom: 64px;
	transition: box-shadow 0.4s ease-in;
}
.goods:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.goods-title {
	text-align: center;
	margin-bottom: 32px;
}
.goods-text {
	line-height: 2em;
	margin-top: 10px;
	width: 100%;
}
/* ___________________________ 4 sale _________________________ */
.sale {
	position: relative;
	min-width: 0;
	width: 100%;
}
.sale .slick-arrow{
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	background: none;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-radius: 50%;
}
.sale .slick-arrow.slick-prev {
	left: 0;
	border-right: 20px solid #FFFFFF;
}
.sale .slick-arrow.slick-next {
	right: 0;
	border-left: 20px solid #FFFFFF;
}
.sale .slick-arrow.slick-disabled {
	opacity: 0.2;
}
.sale .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sale .slick-dots li {
	list-style: none;
	margin: 0px 15px;
}
.sale .slick-dots button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #008a9a;
	border-radius: 50%;
}
.sale .slick-dots li.slick-active button {
	background-color: #FFB97B;
	border: #008a9a;
}
.sale__item {}
.sale__item img {
	width: 100%;
}
/* =================== 1 delivery ==================== */
.delivery {
	margin-bottom: 64px;
	transition: box-shadow 0.4s ease-in;
}
.delivery:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.delivery-title {
	text-align: center;
	color: #008a9a;
	margin-bottom: 32px;
}
.delivery-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
.postman {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.postman-title {
	padding: 4px;
}
.postman-card {
	padding: 4px;
}
.postman-text {
	padding: 4px;
}
.postman-card__img img {
	width: 320px;
	height: auto;
}
/* ++++++++++++++++++++++++++ tab ++++ tabcontent ++++++++++++++++++ */
/* Стиль вкладки */
.tab {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
	border: 1px solid #008a9a;
	background: linear-gradient(90deg, rgba(0,138,154,1) 33%, rgba(0,112,124,1) 66%, rgba(0,69,76,1) 100%);
}
 /* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	color: #FFFFFF;
	margin: 0px 25px;
	font-size: 18px;
	font-weight: bold;
	font-family: Manrope;
}
 /* Изменение цвета фона кнопок при наведении курсора */
.tab button:hover {
	background-color: #FFB97B;
}
 /* Создание активного/текущего класса связи вкладки */
.tab button.has-active {
	background-color: #FFEDDD;
	color: #008a9a;
   font-size: 21px;
}
 /* Стиль содержимого вкладки */
.tabcontent {
	display: none;
	justify-content: center;
	padding: 6px 12px;
	border: 1px solid #008a9a;
	border-top: none;
}
.tabcontent.has-active {
	display: flex;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ================= 1 geo =================*/
.geo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 64px;
	transition: box-shadow 0.4s ease-in;
}
.geo:hover {
	box-shadow: 5px 10px 8px 10px #D9F8FB;
}
.geo-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #008a9a;
	margin-bottom: 32px;
}
.location {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.location-info {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}
.location-info__adress {
	margin-top: 10px;
}
.location-info__text{
	line-height: 2em;
	margin-top: 10px;
	width: 100%;
}
.location-map {
	display: flex;
	padding: 5px;
}
.location-map iframe {
	background-color: #D9F8FB;
}
/* +++++++++++++++++++++++++++++++FOOTER++++++++++++++++++++++ */
.footer {
	padding-bottom: 16px;
	background: linear-gradient(90deg, rgba(0,138,154,1) 33%, rgba(0,112,124,1) 66%, rgba(0,69,76,1) 100%);
	z-index: 7;
}
/* ---------------------------------------- */
.footer-wrapper {
	display: flex;
	flex-direction: column;
}
/* ------------------------------------------ */
.footer-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 8px;
}
/* ----------------------safety------------------------ */
.safety {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #FFFFFF;
	padding: 4px;
	margin: 8px;
}
.safety-title {
	display: flex;
	margin-bottom: 16px;
}
.safety-info {
	display: flex;
}
.safety__list {
}
.safety__item {
	margin-bottom: 8px;
}
.safety__item li {
	display: block;
	color: #FFB97B;
}
.safety__link {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	transition: color 0.2s ease-in;
}
.safety__link:hover {
	color: #FFB97B;
}
/* --------------------------ourcompany--------------------- */
.ourcompany {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #FFFFFF;
	padding: 4px;
	margin: 8px;
}
.ourcompany-title {
	display: flex;
	margin-bottom: 16px;
}
.ourcompany-info {
	display: flex;
}
.ourcompany__list {
}
.ourcompany__item {
	margin-bottom: 8px;
}
.ourcompany__link {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	transition: color 0.2s ease-in;
}
.ourcompany__link:hover{
	color: #FFB97B;
}
/* -------------------------workwithus------------------------ */
.workwithus {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #FFFFFF;
	padding: 4px;
	margin: 8px;
}
.workwithus-title {
	display: flex;
	margin-bottom: 16px;
}
.workwithus-info {
}
.workwithus__list {
}
.workwithus__item {
	margin-bottom: 8px;
}
.workwithus__link {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	transition: color 0.2s ease-in;
}
.workwithus__link:hover {
	color: #FFB97B;
}
/* --------------------------------------------------- */
/* -----------------------social--------------------------- */
.social {
}
.social__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.social__item {
	width: 40px;
	height: 40px;
	margin: 8px;
}
.social__link {
}
.social__link img {
	max-width: 100%;
	max-height: 100%;
}
/* -------------------------footer-copy------------------ */
.footer-copy {
	display: flex;
	justify-content: center;
	margin: 10px;
}
.copy {
	color: #FFFFFF;
}
/* ----------------------------------- */
@media (max-width: 1023.98px){
	.container {
		max-width: 768px;
	}
	.category-main {
		width: 80%;
   }
	.brand-block {
		justify-content: center;
	}
	.postman-info {
		justify-content: center;
	}
	.location-map iframe {
		width: 276px;
		height: 276px;
	}
	.social__list {
		flex-direction: row;
		justify-content: flex-end;
	}
}
@media (min-width: 767.98px){
	.burger{
		display: none;
	}
}
@media (max-width: 767.98px){
	.container {
		max-width: 575.98px;
	}
	.menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 290px;
		background: #FFFFFF;
		padding: 60px 24px 24px 24px;
		transition: left 0.3s ease 0s;
	}
	.menu.to-active {
		left: 0;
	}
	.menu::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 48px;
		background: linear-gradient(90deg, rgba(0,138,154,1) 33%, rgba(0,112,124,1) 66%, rgba(0,69,76,1) 100%);
		z-index: 2;
	}
	.menu__list {
		display: block;
		flex-direction: column;
	}
	.menu__link {
		font-size: 21px;
		line-height: 42px;
		color: #008a9a;
	}
	.category-block {
		flex-direction: column;
		justify-content: center;
	}
	.category-elevation {
		display: flex;
		margin-bottom: 16px;
	}
	.elevation__list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.elevation__link {
		margin-right: 16px;
		font-size: 16px;
      line-height: 24px;
	}
	.category-main {
		width: 100%;
	}
	.niche-card {
		width: 48%;
   }
	.niche-card__title {
		font-size: 12px;
   }
	.partner-card__title {
		font-size: 12px;
   }
	.footer-block {
		flex-wrap: wrap;
   }
}
@media (max-width: 575.98px){
	.container {
		max-width: none;
	}
	.category-niches {
		justify-content: center;
   }
	.niche-card {
		width: 44%;
   }
	.partner-card {
		width: 44%;
   }
	.tab button {
		margin: 0px 4px;
		font-size: 16px;
	}
	.postman-card__img img {
		width: 222px;
   }
	.location {
		flex-direction: column;
		justify-content: center;
	}
	.location-map {
		justify-content: center;
	}
	.footer-block {
		flex-direction: column;
	}
}