@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope-VariableFont_wght.eot');
	src: local('☺'), url('../fonts/Manrope-VariableFont_wght.woff') format('woff'), url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype'), url('../fonts/Manrope-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top; /* чтобы небыло фонтомных отступов снизу */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: x-large;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
	color: #333333;
	background: #FFFFFF;
	font-family: Manrope;
}
.wrapper-page {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1200px;
	margin: 0px auto; /* выставил по центру */
}
/* +++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++++++++ */
.header {
	position: fixed;
	top: 0;
	font-weight: 800;
	background-color: #257187;
	width: 100%;
	z-index: 10;
}
.header-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	min-height: 60px;
}
.header-logo {
	position: relative;
	background-color: #FFC58A;
	border-radius: 15%;
	z-index: 5;
	width: 40px;
	height: 40px;
}
.header-menu {
	display: flex;
	align-items: center;
}
/* -----------------BURGER----------------- */
.burger {
	width: 38px;
	height: 38px;
	cursor: pointer;
	position: relative;
	border-radius: 15%;
	background-color: #257187;
}
.burger__line {
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 15%;
	background-color: #FFC58A;
	position: absolute;
	left: 0;
	transition: 0.3s all linear;
}
.burger__line--first {
	top: 0;
}
.burger__line--second, .burger__line--third {
	top: 50%;
	transform: translateY(-50%);
}
.burger__line--fourth {
	bottom: 0;
}
/* ----------------при активации----------------- */
.is-active .burger__line--first, .is-active .burger__line--fourth {
	opacity: 0;
}
.is-active .burger__line--second {
	transform: translateY(-50%) rotate(45deg);
}
.is-active .burger__line--third {
	transform: translateY(-50%) rotate(-45deg);
}
/* ------------------------------------ */
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 20px;
}
.menu__link {
	color: #FFC58A;
	font-size: 20px;
}
/* +++++++++++++++++++++++  MAIN  ++++++++++++++++++++++++++++ */
.page {
	flex: 1 1 auto;
	margin-top: 65px;
}
/* --------------------------CATEGORY------------------------- */
.category-block {
	display: flex;
	justify-content: center;
	margin: 5px;
	padding-bottom: 10px;
}
/* ----------------------------------- */
.category-elevation {
	display: flex;
	min-width: 216px;
	border-radius: 15px;
	justify-content: center;
	background-color: #AFDBE7;
	padding: 5px;
	margin: 5px;
}
.elevation {
	display: flex;
	width: 100%;
}
.elevation__list {}
.elevation__item {
	padding: 5px;
}
.elevation__link {}
/* ------------------------------------- */
.category-niches {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	left: 0;
}
.niche-card {
	width: 123px;
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
.niche-card__img {
	margin-bottom: 5px;
}
.card-link {}

.niche-card__img img {
	height: 113px;
	width: 113px;
}
.niche-card__title {
	margin-bottom: 5px;
	text-align: center;
}
/* -------------------------BRAND------------------------------------*/
.brand-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
.brand-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	margin: 5px;
}
.brand-card__img {
}
.brand-card__img img {
	border-radius: 15px;
}
.brand-card__link {
}
/* ----------------------------advise-------------------------------- */
.advise-block {
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
.advise-title {
	text-align: center;
	size: 40px;
}
.advise-info {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.partner-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
}
.partner-card__img {
}
.partner-card__img img {
	width: 264px;
	height: 213px;
}
.partner-card__link {
}
.partner-card__title {
	text-align: center;
}
/*-------------------------GEO----------------------------------------*/
.geo-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
}
/* ------------------------------------ */
.geo-postman {
	margin: 5px;
}
.postman-title {
	text-align: center;
	size: 40px;
}
.postman-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.postman-card {
	background-color: #AFDBE7;
	border-radius: 15px;
	margin: 30px 5px 0px 5px;
}
.postman-card__img img {
	width: ;
	border-radius: 15px;
}
/* -------------------------------- */
.geo-location {
	display: flex;
	margin: 5px;
}
.location {
	border-radius: 15px;
	padding: 5px;
}
.location iframe {
	background-color: #AFDBE7;
	border-radius: 15px;
}
/* +++++++++++++++++++++++++++++++FOOTER++++++++++++++++++++++ */
.footer {
	background-color: #257187;
}
/* ---------------------------------------- */
.footer-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	padding-bottom: 10px;
}
/* ---------------------------------------------- */
.general {
	min-width: 186px;
	border-radius: 15px;
	justify-content: flex-start;
	background-color: #AFDBE7;
	padding: 5px;
	margin: 5px;
}
.info {
}
.info__list {
}
.info__item {
	padding: 5px;
}
.info__link {
}
/* ----------------------------------------------- */
.category-elevation {
}
.elevation {
}
.elevation__list {
}
.elevation__item {
}
.elevation__link {
}
/* -------------------------------------------------- */
.social {
}
.social__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.social__item {
	width: 40px;
	height: 40px;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: 5px;
}
.social__link {
}
.social__link img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 15px;
}
@media (max-width: 1023.98px){
	.container {
		max-width: 768px;
	}
	.brand-block {
		justify-content: center;
	}
	.geo-block {
		flex-direction: column;
	}
	.postman-info {
		justify-content: center;
	}
	.geo-location {
		justify-content: center;
	}
	.social__list {
		flex-direction: row;
		justify-content: flex-end;
	}
}
@media (min-width: 767.98px){
	.burger{
		display: none;
	}
}
@media (max-width: 767.98px){
	.menu {
		display: none;
	}
	.category-niches {
		justify-content: center;
   }
}
@media (max-width: 575.98px){
	.container {
		max-width: none;
	}
	.category-block {
		flex-direction: column-reverse;
   }
	.category-niches {
		justify-content: center;
   }
	.location iframe {
		width: 296px;
		height: 296px;
	}
	.footer-block {
		flex-direction: column;
	}
}